[Unit]
Description=Service to update a DNS record on DigitalOcean
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=pi
EnvironmentFile=/home/pi/.dns-updater-env
ExecStart=/home/pi/bin/dns-updater
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=dns-updater
[Install]
WantedBy=multi-user.target
